.SignInForm {
    padding: 25px 25px 25px 25px;
    margin: 0 auto;
    width: 400px;
    min-height: 270px;
    background: #FFFFFF;

    color: #373A3C;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;

    .SignInText {
        top: 170px;
    }

    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    }

    h2 {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .EmailText {
        position: relative;
        top: 5px;
    }

    .PasswordText {
        position: relative;
        top: 5px;
    }

    input {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 4px;
    }

    a {
        position: relative;
        top: 35px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #0275D8;
    }

    Button {
        margin-left: 266px;
        background: #0275D8;
        border: 1px solid #0275D8;
        box-sizing: border-box;
        border-radius: 4px;
    }
}

.SignUpLink {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}
