.SignInHeader {
    text-align: center;
    margin-top: 20px;

    img {
        top: 20px;
        left: 55px;
    }
    
    h1 {
        top: 25px;
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        color: #373A3C;
    }
}

