@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "src/components/SignIn/SignIn.scss"; 

$lightblue: #e3f2fd;

body {
    background-color: $lightblue;
    font-family: 'Montserrat', sans-serif;
}